<!DOCTYPE html>
<html>
<head>
  <title>Event organization App</title>
</head>
<body>

<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <a href="tickets" title=""><%= image_tag("bilety.jpg")%></a>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <a href="events" title=""><%= image_tag("event_final.jpg")%></a>
    </div>
  </div>
</div>



</body>
</html>